*{
    margin: 0px;
    p
}

/* banar-style */
.Heading-bold{
Font weight: 800;
Font size: 45px; 
width: 121px;
}
/* nav style */
nav{
   display: flex; 
   justify-content: space-between;
   text-align: center;
   padding: 20px;
}
nav ul li{
    list-style: none;
    display: flex;
    text-decoration: none;

}
nav li a{
    text-decoration: none;
    margin-right: 20px;
}
.link-style{
    display: flex;
}
.btn-2{
    font-size: 20px;
    font-weight: 700px;
    color: #FFFFFF;
    border-radius: 5px;

background: rgb(253, 110, 10);
}
/* protfolio-style */
.font-2{
    font-size: 20px;
    font-weight: 400px;
    color: #474747;

}
.font-5{
    font-size: 45px;
    font-weight: 600px;
    line-height: 61px;
}
.font-title{
    font-size: 85px;
    font-weight: 700px;
    line-height:160px;
    color: #181818;
}
.font-discription{
    font-size: 18px;
    font-weight: 400px;
    height: 60px;
    color: #757575;
    line-height: 30px;
}
.second-part{
    padding:242px;
}
.banar-1{
    background-color: #FFF8F3;
    background-image: url(../style/image/hardy.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.image-1{
    display: flex;
}